@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Model and Model Binding</h1>
    <p><br /></p>
    <a asp-action="show" asp-controller="Data" asp-route-mytext="ASP.NET Core Web Application" asp-route-num="10" > My Route Data </a>
</div>


